
body {
    font-family: 'Catamaran', sans-serif;
}

.navbar a:hover {
    color: #0B5ED7;
}

.navbar-toggler {
    box-shadow: none !important;
}

.logo {
    font-size: 30px;
    color: #0B5ED7;
    font-weight: 700;
}

.my-color {
    color: #dc143c;
}